name: Build
on:
  push:


defaults:
  run:
    shell: bash

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: build
      uses: docker://golang:1
      with:
        args: /bin/bash -c "CGO_ENABLED=0 go build -buildvcs=false -v ."
      env:
        XDG_CACHE_HOME: /tmp/.cache
        HOME: /tmp/buildhome
